.contact{
    white-space: pre-line;
}

.contact-form{
    width: 900px;
    height: 695px;
    background-color: #FFD6D6;
    padding: 60px 160px;
    display: flex;
    justify-content: center;
    border-radius: 46px;
    font-family: "Roboto", sans-serif;
}

.form-content{
    min-width: 150%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: center;
}

.flex-row{
    display: flex;
    margin-bottom: 40px;
}

.flex-row div:first-of-type{
    margin-right: 30px;
}

.flex-row div:last-of-type{
    align-self: flex-start;
}

.contact-form textarea{
    resize: none;
    width: calc(100% + 30px);
    height: 250px;
    padding: 10px;
}

.flex-row div, .contact-form .select-button{
    width: 100%;
}

.contact-form button[type="submit"]{
    width: fit-content;
    background-color: #9b9090;
    border-radius: 20px;
    padding: 7px 17px;
    border: none;
    cursor: pointer;
}

.flex-row > div{
    position: relative;
}

.feedback-form-content{
    min-width: 150%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: center;
    font-size: x-large;
    align-items: center;
}