.img{
    min-width:335px;
    min-height:502px;
    width: auto;
    height: auto;
    background-image: url("../assets/about-home.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    border: 3px solid black;
    box-sizing: content-box;
    box-shadow: rgb(80, 71, 71) 25px 25px 0, rgb(80, 71, 71) 25px -25px 0;
}

.section:first-of-type{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    background-color: #d9d9d9;
    align-items: center;
    min-height: calc(100vh - 120px);
    padding-bottom: 78px;
    flex-direction: row;
}

.para{
    font-size: 20px;
    max-width: 450px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-right: 68px;
}

.para p{
    margin-bottom: 0;
}

.para p:not(p:last-child){
    margin-bottom: 10px;
}

.section:nth-child(even):not(:last-of-type)::after{
    content: url("../assets/separator/Triangle-grey.svg");
    position: absolute;
    width: 100%;
    bottom: -7px;
}

.section:nth-child(even){
    background-color: #d9d9d9;
}

.section:nth-child(odd)::after{
    content: url("../assets/separator/Triangle-white.svg");
    position: absolute;
    width: 100%;
    bottom: -7px;
}

.section:nth-child(odd){
    background-color: white;
}

.section > div{
    z-index: 1;
}

.section{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 815px;
    padding-bottom: 210px;
    flex-direction: column;
}

.servicesContainer{
    display: flex;
    justify-content: space-between;
}

.section:last-of-type{
    min-height: 940px;
    padding-bottom: 50px;
}