.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0; 
    align-items: center;
}

.servicesCards{
    display: flex;
    margin-top:20px
}